@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@import "tailwindcss";

@layer theme, base, components, utilities;

@plugin './hero.ts';

@source "../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}";

:root {
  font-family: 'Inter', sans-serif;
}

body {
  @apply bg-background text-foreground;
}
